body {
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}
.landing-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #141b11;
    flex: 1;
    min-height: 300px;
}
.section-2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    min-height: 300px;
}
h3 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #141b11;
    font-weight: 900;
    margin-bottom: 0;
}
.section-3 {
    background-color: #273f2a;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
    min-height: 300px;
}
.section-4 {
    background-color: white;
    flex: 3;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    margin: 0 250px;
    color: #e5e7eb;
}
.header-links{
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
}
.footer {
    background-color: #141b11;
    flex: 1;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}
.content-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 250px;
    margin-right: 250px;
    gap: 50px;
}

.content-2 {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap; 
    margin: 0px 400px 50px 400px;
    gap: 50px;
}

.logo {
    font-size:  24px;
    color: #F9FAF8;
}

.title-text {
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}
.title-img {
display: flex;
flex: 1;
justify-content: center;
align-items: center;
max-width: 500px;
}
.content-1-text-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    flex: 1;
    max-width: 500px;
    padding: 0;
    font-size: 18px;
    color: #e5e7eb;
}
div {
    text-align: justify;
}
.sq-img {

    height: 200px;
    width: 200px;
    margin: 20px 0px;
    border: solid #141b11 10px;
    border-radius: 10px; 
}
.img-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}
.quote-bank {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    flex: 1;
    justify-content: center;
    margin: auto;
    margin: 20px;
}
.quote-1 {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0px auto;
    font-size: 36px;
    font-weight: 100;
}
.quote-2{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;   
}
.contrast-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141b11;
    min-width: 300px;
    flex: auto;
    height: 100px;
    max-width: 1000px;
    padding: 15px;
    border-radius: 20px;
    margin: 10px
}
.content-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 5px 50px;
    gap: 50px;
}
.content-4-text-block {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
}
img {
    flex-shrink: 0;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    min-width: 50px;
}
.button-preorder {
    padding: 10px;
    background-color: #e5e7eb;
    font-size: 18px;
    margin: 10px 0;
    border-radius: 10px;
}

h4 {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    color: #e5e7eb;
}

.banner-text-style {
    color: #e5e7eb;
    font-size: 18px;
}

.button-watch-trailer {
    border: solid #e5e7eb 5px;
    color: #e5e7eb;
    background-color: #141b11;
    font-weight: bold;
    padding: 5px 10px;
    width: 400px;
    border-radius: 15px;
}